# Web Framework
streamlit==1.49.1

# Environment Variables
python-dotenv==1.1.1

# HTTP Requests
requests==2.32.5

# News API
newsapi-python==0.2.7

huggingface_hub==0.34.4

langchain==0.3.27
langchain-community==0.3.29

# NLP
spacy==3.8.7

# Machine Learning Backend
scikit-learn==1.7.1

# Keyword Extraction
keybert==0.9.0
sentence-transformers==5.1.0

# Numerical Computing
numpy==2.3.2
pandas==2.3.2

# HTML Parsing
beautifulsoup4==4.13.5
lxml==6.0.1
trafilatura==2.0.0

# Progress Bars
tqdm==4.67.1